<div class="timer">
  {{#each pastCheckpoints as |checkpoint|}}
      <div class="time past-checkpoint">{{checkpoint.display}}</div>
  {{/each}}

  <div class="time">{{displayTime}}</div>

  {{#each checkpoints as |checkpoint|}}
    <div class="time">{{checkpoint.display}}</div>
  {{/each}}

  {{input class="time-input" type="tel" placeholder="00:00" insert-newline="createCheckpoint"}}

  <button {{action "startTimer"}}>Start</button>
  <button {{action "pauseTimer"}}>Pause</button>
  <button {{action "stopTimer"}}>Stop</button>
</div>

{{yield}}
